.container {
  margin: auto;
  margin-top: 42px;
  width: 100%;
  border-radius: 20px;
  background: #F5F5F5;
  box-sizing: border-box;
}
.todoListHeader{
  margin-top: 33px;
  display:flex;
  justify-content: space-between;
}
.spacer{
  flex: 1;
}
.todoListTitle{
  font-size: 24px;
  color: #000;
  font-weight: 500;
}
.taskListContainer{
  padding-top: 16px;
}

@media (min-width: 768px) {
  .container{
    width: 720px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 62px;
    padding-bottom: 62px;
  }
}